body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

nav {
    height: 50px;
}

.list-inline-item {
    margin-top: 10px;
}

.noPadding {
    padding: 0 !important;
}

.intro-header {
    height: 400px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
}

.intro-header h1 {
    font-size: 64px;
}

@media (max-width: 1000px) {
    .intro-header {
        height: 500px;
    }
}

@media (max-width: 767px) {
    .intro-header {
        height: 600px;
    }
}

@media (max-width: 500px) {
    .intro-header {
        height: 650px;
    }
}

@media (max-width: 450px) {
    .intro-header {
        height: 700px;
    }
}

.intro-message {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
    background: -moz-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8', GradientType=0);
    /* IE6-9 */
}

.intro-message>h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 6em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message>h3 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

@media (max-width: 767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message>h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.intro-social-buttons>li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        font-size: 3em;
    }
    ul.banner-social-buttons>li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons>li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

p.lead-name {
    font-style: italic;
}

p.quote-lead {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

p.book-lead {
    font-size: 20px;
    color: darkgoldenrod;
}

p.book-lead strong {
    font-style: italic;
}

p.tab-panel-text {
    color: #5c5c5c;
}

.tab-content ul {
    list-style: none;
}

.tab-content ul li {
    font-size: 18px;
}

.tab-content ul .grey-text {
    color: #5c5c5c;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nav-tab-component li {
    cursor: pointer;
}

@media (max-width: 700px) {
    .nav-tab-component li {
        font-size: 10px;
    }
}

.active {
    color: white;
    background-color: #f0ad4e;
}

.nav-tab-component li .active {
    color: white;
    background-color: #f0ad4e;
}

.mobile-nav .mobile-tab {
    cursor: pointer;
}

.mobile-nav .mobile-tab:hover {
    color: black;
}

.mobile-nav .active {
    color: white;
    background-color: #f0ad4e;
}

.tab-block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tab-service:hover {
    color: #f0ad4e;
}

.contact-details div {
    margin-bottom: 10px;
    display: flex;
    margin-top: 10px;
}

.contact-details div p {
    float: left;
    font-size: 22px;
}

.contact-details div a {
    font-size: 22px;
}

.btn-secondary.active {
    color: white;
    background-color: #f0ad4e;
}

.contact-list {
    list-style-type: none;
}

.contact-text {
    color: #f0ad4e;
}

.contact-strong {
    color: white;
}

ul li {
    list-style: none;
}


/*=========================
  Icons
 ================= */


/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook {
    background-color: #3B5998;
}

.social-network a.icoTwitter {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.icoFacebook {
    background-color: #D3D3D3;
}

.icoTwitter {
    background-color: #D3D3D3;
}