<ul class="nav justify-content-center nav-tab-component">
    <li class="nav-item">
        <div (click)="tabShow=1" [ngClass]="{'active': tabShow==1}" class="nav-link">LITIGATION</div>
    </li>
    <li class="nav-item">
        <div (click)="tabShow=2" [ngClass]="{'active': tabShow==2}" class="nav-link">COMMERCIAL, BUSINESS AND INSOLVENCY LAW</div>
    </li>
    <li class="nav-item">
        <div (click)="tabShow=3" [ngClass]="{'active': tabShow==3}" class="nav-link">EMPLOYMENT LAW</div>
    </li>
    <li class="nav-item">
        <div (click)="tabShow=4" [ngClass]="{'active': tabShow==4}" class="nav-link">WILLS, PROBATE AND ADMINISTRATION OF ESTATES</div>
    </li>

</ul>



<ul class="nav justify-content-center nav-tab-component">

    <li class="nav-item">
        <div (click)="tabShow=5" [ngClass]="{'active': tabShow==5}" class="nav-link">CONVEYANCING</div>
    </li>
    <li class="nav-item">
        <div (click)="tabShow=6" [ngClass]="{'active': tabShow==6}" class="nav-link">CONSTRUCTION LAW</div>
    </li>
    <li class="nav-item">
        <div (click)="tabShow=7" [ngClass]="{'active': tabShow==7}" class="nav-link">PLANNING LAW</div>
    </li>
    <li class="nav-item">
        <div (click)="tabShow=8" [ngClass]="{'active': tabShow==8}" class="nav-link">LANDLORD AND TENANT LAW</div>
    </li>

</ul>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <hr>
        <div class="tab-content">

            <div *ngIf="tabShow==1" id="LITIGATION" role="tabpanel">
                <p class="tab-panel-text">We specialise in Circuit Court and High Court litigation. We act for a number of major companies and provide practical specialised advice. Our Mr Shiels is the author of the litigation textbook, Abuse of Process: Unjust and improper conduct
                    of Civil Litigation in Ireland, published in May 2002 (foreword by the then Chief Justice of the Supreme Court, Mr Justice Ronan Keane). He has been widely published in litigation matters and quoted as an authority in various High
                    Court judgments and periodical articles.
                </p>
                <p class="tab-panel-text">We carry out litigation which includes: </p>
                <ul>
                    <li>Property disputes</li>
                    <li>Succession Law litigation</li>
                    <li>Contractual Litigation</li>
                    <li>Employment Litigation</li>
                    <li>Construction Litigation</li>
                    <li>Debt related litigation</li>
                </ul>
                <p class="tab-panel-text">Our approach in litigation is to identify key issues early, assess the strengths and weaknesses of our clients' position, and determine the best overall strategy for our clients - whether through formal litigation in the courts, negotiation
                    or other dispute resolution techniques.
                </p>
            </div>

            <div *ngIf="tabShow==2" id="COMMERCIAL" role="tabpanel">
                <p>Prior to returning to work in Donegal, Dessie Shiels trained and worked for Ireland's leading commercial law firm for 5 years and has acted for many of Irelands largest companies</p>
                <div class="tab-block">
                    <h4>Transfer of Businesses, Share Purchase and Acquisitions </h4>

                    <p class="tab-panel-text">We deal with Business Transfers, share purchase and acquisitions. We advise our clients of their options regarding a share purchase or an asset purchase. We have acted in the sale/purchase of a number of major companies and aim to
                        ensure that the transaction runs as smoothly as we can make it for the client. In a purchase situation we carry out a full due diligence on the target company working closely with the clients accountants and other professionals.
                        We also provide comprehensive advice in respect of employers' and employees' rights and obligations in acquisitions and transfers of business.
                    </p>
                </div>
                <div class="tab-block">
                    <h4>Joint Venture Agreements </h4>

                    <p class="tab-panel-text">We draft and review Joint Venture Agreements dealing with the various structures and agreements arising from this type of agreement. </p>
                </div>
                <div class="tab-block">
                    <h4>Licensing Agreements </h4>

                    <p class="tab-panel-text">We draft and review Licensing Agreements which involve devising the most appropriate structure for particular transactions and advising the client on the implications of this type of agreement. </p>
                </div>
                <div class="tab-block">
                    <h4>Company Restructuring </h4>

                    <p class="tab-panel-text">We provide advice to clients in relation to company restructuring and analyse the clients best approach for restructuring. </p>
                </div>
                <div class="tab-block">
                    <h4>Insolvency - Examinership, Liquidation, Receivership </h4>

                    <p class="tab-panel-text">We advise clients on all matters of Examinership, Liquidation and receivership whether a client is the company in financial difficulty or whether our client is a creditor of a company in financial difficulty. We advise directors, officers
                        and the management of companies in financial difficulty and provide pragmatic and realistic solutions. We can assist directors in avoiding actions which may result in them being held personally liable for some or all of a company's
                        debts or other sanctions such as restriction and disqualification. </p>
                </div>
            </div>

            <div *ngIf="tabShow==3" id="EMPLOYMENT" role="tabpanel">

                <p class="tab-panel-text">We act for a number of nationwide employers advising on all areas of employment law.We provide comprehensive advice regarding employee/ employer rights and obligations. </p>

                <p class="tab-panel-text">We act before the Employment Appeals Tribunal, Employment Equality Agency and the Rights Commissioner regarding employment disputes on unfair dismissal, constructive dismissal, redundancy disputes and equality issues. We also attend at
                    employment mediation regarding equality issues. </p>

                <p class="tab-panel-text">We have significant experience in reviewing and analysing legislation with a strong emphasis on practical application. </p>
                <br>
                <p class="lead">We provide advices on all areas of Employment law including the following: </p>
                <br>

                <h4>Employment Contracts</h4>
                <p class="tab-panel-text">Advising on contracts of employment, statutory and common law obligations</p>
                <h4>Company disputes </h4>
                <p class="tab-panel-text">Advising on all aspects of disputes involving executive directors and shareholders including partnerships.</p>

                <h4>Dismissals</h4>
                <p class="tab-panel-text">Termination of contracts at Common Law and unfair dismissal claims </p>

                <h4> Equality</h4>
                <p class="tab-panel-text"> Equal pay and equality claims, equality of terms and conditions of employment, sexual harassment and other harassment claims. </p>

                <h4>Business Transfers </h4>
                <p class="tab-panel-text">Employers' and employees' rights and obligations in mergers, acquisitions and transfers of business.</p>

                <h4>Disputes and Strikes</h4>
                <p class="tab-panel-text">Industrial relations disputes and related legal matters </p>

                <h4>Litigation</h4>
                <p class="tab-panel-text">Employment litigation including executive shareholders disputes, High Court Judicial Review and injunctions.
                </p>
            </div>
            <div *ngIf="tabShow==4" id="WILLS" role="tabpanel">
                <p>It is important to make a will in order to ensure that your assets and affairs are distributed as you wish upon death. For married couples with young children a will is also important to appoint suitable guardians for the children of a
                    couple. Wills can be straightforward or more complicated depending on a person's particular circumstances. For example it may be necessary to advise on matters such as the differences between Intestate and Testate Law, the different
                    shares that arise in a particular estate or a spouse's right to a legal right share. We provide practical, guided and quality legal advice in this area.</p>

                <p>
                    Where a death occurs, it is necessary to administer the deceased persons estate in order to vest their assets in their successors and it is important to seek legal assistance and advice in administering an estate. We deal with probate (where there is
                    a Will) and administration (where there is no Will) applications in a helpful and efficient manner. We provide advice on estate planning and the distribution of assets and we keep you up to date every step of the way from the outset
                    to completion.
                </p>

                <p>
                    We also provide clear advice you of your rights as a spouse, a child or other beneficiary if you feel a Will is unfair. </p>

                <p>It is important to note that the Executors of a Will are free to engage a solicitor of their choice regardless of where the Will itself was made. </p>
                <br>
                <p class="lead">Please contact us if you need advice on any of the following: </p>
                <ul>
                    <li>Wills and estate planning</li>
                    <li>Administration of estates</li>
                    <li>Contentious probate issues</li>
                    <li>Beneficiary rights in relation to estates and trusts </li>
                </ul>
            </div>
            <div *ngIf="tabShow==5" id="CONVEYANCING" role="tabpanel">

                <h4>Conveyancing of Private Houses and Residential Property</h4>

                <p>We provide a wide ranging conveyancing service. Our approach ensures that clients are given professional and detailed advice throughout every stage of the conveyancing process.
                </p>

                <p class="lead">Our services include: </p>

                <ul>
                    <li class="grey-text">The purchase and sale of residential properties</li>
                    <li class="grey-text">The purchase and sale of investment properties</li>
                    <li class="grey-text">The purchase and sale of land and sites</li>
                    <li class="grey-text">Mortgages</li>
                    <li class="grey-text">Planning compliance issues</li>
                    <li class="grey-text">Property rental </li>
                </ul>

                <br>
                <h4>Commercial Conveyancing</h4>

                <p>We continue to build on and enhance our practical expertise and experience while advising a wide variety of clients, including individuals, developers, investors, retailers, property development companies, landlords and tenants. We base
                    our service around our client's needs, delivering authoritative but practical legal guidance.</p>
                <br>
                <p class="lead">Our services in this area include advising on the following: </p>

                <ul>
                    <li class="grey-text">Commercial property investments (acquisitions and disposals, options, sale and leasebacks)</li>
                    <li class="grey-text">Planning and development issues</li>
                    <li class="grey-text">Loan agreements</li>
                    <li class="grey-text">Title issues </li>
                </ul>
            </div>
            <div *ngIf="tabShow==6" id="block2" role="tabpanel">

                <p class="lead">
                    Dessie Shiels has lectured in Construction Law and contract administration in Trinity College Dublin.
                </p>

                <p>
                    We provide advice on land acquisition, regulatory approval (including planning/development).We deal with the preparation, negotiation and review of development, construction and building contracts. We provide general advice on bonds, warranties, professional
                    appointments and collateral warranties.
                </p>
                <p>
                    We advise on the preparation of tender documentation and provide ongoing advice throughout a construction project.
                </p>
                <p>
                    We deal with construction claims regarding disputes on additional work/variations, omission of work, liquidated damages, delay/disruption, acceleration.
                </p>

                <p>
                    We deal with dispute resolution in this area whether it be conciliation or arbitration. Preparation of Schemes of Development - the preparation of documentation for schemes of development has become much more complex in recent years with many schemes
                    providing for a variety of residential unit types and, in many cases, a mix of residential and non residential units. </p>

                <p>We have the skill and expertise that is required to prepare the documentation necessary for various different structures so as to ensure that different schemes can be managed effectively. Negotiating project finance and dealing with loan
                    facilities, agreements with lenders and assisting in negotiating security requirements and structuring security arrangements with banks. Title issues including the review of title to land being acquired and land over which wayleaves
                    or easements are required in respect of roads and services and providing advice for the resolution of any problems arising on title. Issues relating to services on sites, rights of way and easements - in this regard we ensure that
                    the client is entitled to access the required services and that the necessary capacity is available and advising on all rights, way-leaves and easements which may be required to facilitate development.
                </p>

            </div>
            <div *ngIf="tabShow==7" id="messages" role="tabpanel">

                <p>Our firm has a particular expertise in planning law and Dessie Shiels is widely published on planning law and acknowledged as an expert in planning appeals and judicial reviews. We are recommended as experts in the area. </p>
                <br>
                <h4>

                    Property development - Planning Considerations </h4>
                <p>We provide advices on Planning and Development Law which is of paramount importance particularly given recent developments in planning legislation. From the time a site is identified as a potential acquisition, issues involving planning
                    and development law are among the most important aspects of the transaction to be considered when looking at the proposed development of the site. We work closely with other members of our client's professional team, including architects,
                    planning consultants and engineers to provide comprehensive advice in this area. </p>
                <br>
                <h4>
                    Planning Law Objections, Submissions and Enforcement </h4>
                <p>We assist our clients in making planning objections and planning submissions to the Local Authority and to An Bord Pleanala. We take great time and care to ensure the best possible outcome for our clients. We have a wide range of experience
                    and success in this area. </p>
                <br>
                <h4>Judicial Review of Planning Decisions</h4>
                <p>We also deal with Judicial Review cases on Planning Decisions. </p>
                <br>
            </div>
            <div *ngIf="tabShow==8" id="settings" role="tabpanel">
                <h4>Landlord and Tenant Law</h4>
                <p>The law on Landlord and Tenant has had many amendments in recent times and it is therefore of utmost importance that clients have lease agreements properly drafted and reviewed to take account of all the relevant legislation in this area.
                    We take great time and care in drafting and reviewing client leases to ensure that clients obtain the best from their lease. A well drafted lease is of great assistance to clients should a dispute ever arise. </p>

                <p class="lead">We also advise clients on various landlord and tenant issues such as: </p>

                <ul>
                    <li>Rent reviews</li>
                    <li>Recovery of rent</li>
                    <li>Insurance</li>
                    <li>Options to renew</li>
                    <li>Options to purchase</li>
                    <li>Assignment and subletting</li>
                    <li>Ejectment and forfeiture</li>
                    <li>Renewal rights </li>
                </ul>

            </div>
        </div>
    </div>
</div>