<section class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Our Reputation</h1>
                <p class="quote-lead">Here are some quotes about Dessies' book....</p>
                <hr>
                <p class='lead'>"Dessie has completed over 50 property, business and litigation matters for me over the last 6 years. It is no coincidence that he was a published author of leading legal textbook by the age of 25. He stands out from the crowd." </p>
                <p class='lead-name'>
                    Austin Daly - Businessman, Lifford, Co. Donegal </p>

                <hr>
                <p class='lead'>"I have known Dessie for several years and throughout that time I have always found him to act with the utmost integrity; it is always quite evident that the advice which he provides is in the true interest of his clients and is delivered
                    with courtesy and respect." </p>
                <p class='lead-name'>Edwin Foley - Chartered Accountant & Business Advisor </p>

                <hr>
                <p class='lead'>"I have known Dessie Shiels for a number of years. I do respect his professional integrity. His company continues to earn our admiration and that of a growing number of the public who are challenged by practices they believe to be incorrect,
                    ill-judged or downright dishonest" </p>
                <p class='lead-name'>
                    John McAteer - Editor, Tirchonaill Tribune Newspaper </p>


            </div>

        </div>

    </div>
    <!-- /.container -->
</section>