<section class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <p>Based at 16 Academy Court, Letterkenny, Co. Donegal, Dessie Shiels Solicitors provide a pre-eminent legal advisory service, acting for local and nationwide clients. </p>

                <p>Its principal, Dessie Shiels returned to his home town of Letterkenny to establish his own firm in 2004. Prior to that he trained and practised upon qualification in 2001 with Ireland's most prestigious commercial law Firm, McCann FitzGerald
                    in Dublin. </p>

                <p>Dessie has also lectured in Trinity College Dublin on construction law and contract administration and is widely published on various areas of the law including litigation, property and planning law.</p>
            </div>

        </div>

    </div>
    <!-- /.container -->
</section>
<section class="content-section-b">
    <div class="">
        <div class="col-lg-12 text-center">
            <h1>Our Services</h1>

            <tab-section></tab-section>
        </div>
    </div>
</section>
<section class="content-section-a">

    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Abuse of Process</h2>
                <p>Dessie is the author of the legal textbook, Abuse of Process: Unjust and improper conduct of Civil Litigation in Ireland, published in May 2002.
                    <p class="lead">"The machinery under which cases can be struck out either as disclosing no cause of action or constituting an abuse of process is extremely useful, since, if successfully used, it will save the client the ordeal of litigation. I am
                        delighted to welcome Mr. Shiels' excellent work"</p>
                    <p>(Foreword by the then Chief Justice of the Supreme Court, Mr Justice Ronan Keane) </p>
            </div>
            <div class="col-lg-5 offset-lg-2">
                <img class="img-fluid" src="../../img/abuse-of-process.jpg" alt="">
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>

<aside class="banner">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <p class="bottom-para">The firm's practice areas include litigation, commercial, business and insolvency law, employment law, wills, probate and administration of estates, conveyancing, construction law, planning law and landlord and tenant law. The firm aims
                    to ensure that the legal rights of clients are maintained and protected at all times. </p>

                <p class="bottom-para">Client care, respect and confidentiality are core values of the firm and the firm's focus on core areas of the law means that clients receive an expert service at all times. </p>
            </div>

        </div>

    </div>
    <!-- /.container -->

</aside>

<section class="content-section-a">

    <div class="container">
        <div class="well well-sm quick-contact">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <h1 class="title-contact">
                                Contact Us</h1>
                        </div>
                        <div class="col-md-4 contact-details">
                            <div>
                                <a href="mailto:dessie@sheilssolicitors.com">dessie@sheilssolicitors.com</a>
                            </div>
                            <div>
                                <p>Tel: </p><a href="tel:0749126668">0749126668</a>
                            </div>
                            <div>
                                <p>Fax: </p><a href="fax:0749126669">0749126669</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>