<section class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="book-lead"> <strong>Abuse of Process unjust and improper conduct of civil litigation in Ireland</strong> was published in 2002.</p>
                <p class="quote-lead">Here are some quotes about Dessies' book....</p>
                <hr>
                <p class='lead'>"The machinery under which cases can be struck out either as disclosing no cause of action or constituting an abuse of process is extremely useful, since, if successfully used, it will save the client the ordeal of litigation. I am delighted
                    to welcome Mr. Shiels' excellent work" </p>
                <p class='lead-name'>Mr Justice Ronan Keane, Chief Justice of the Supreme Court of Ireland, 2002. </p>

                <hr>
                <p class='lead'>"Abuse of process is a unique book. Desmond Shiels has written a timely and comprehensive analysis of an area of litigation that will grow in importance... few Lawyers leave a literary legacy for family, friends and colleagues for future
                    generations." </p>
                <p class='lead-name'>Dr Eamonn Hall</p>

                <hr>
                <p class='lead'>"Abuse of process is a unique book. Desmond Shiels has written a timely and comprehensive analysis of an area of litigation that will grow in importance... few Lawyers leave a literary legacy for family, friends and colleagues for future
                    generations." </p>
                <p class='lead-name'>Mr Justice Herbert in the High Court case of Lowes V Coillte Teoranta, March 2003 </p>

                <hr>
                <p class='lead'>"Defendants facing hopeless fraudulent or malicious proceedings should ask the courts to dismiss the action as an abuse of process, according to the author of a new book, Dessie Shiels" </p>
                <p class='lead-name'>Article by Kieron Wood BL, Sunday Business Post, July 2002 </p>

            </div>

        </div>

    </div>
    <!-- /.container -->
</section>
<!--<section class="content-section-b">

    <div class="container">
        <div class="row">

        </div>

    </div>

</section>-->